*:focus {
    outline: none;
}

a {
	height: 0%;
}

button.disabled {
	cursor: not-allowed;
}

textarea {
	resize: none;
	overflow: hidden;
}

.description {
	margin-top: 10px;
}

.strong-label {
	display: inline-block;
 	width: 120px;
 	text-align: left;
}
.label-text {

}

.user-name {
	font-style: italic;
}

.show {
	display:block !important;
}

.right {
	float: right;
}

.followed, .liked, .active {
	background-color: #d30313;
}

.improvised-link {
	color: inherit;
	text-decoration: none;
	word-wrap: break-word;
	word-break: break-all;
}

.follow-button {
	flex-grow: 1;
	margin: 1%;
	border: 3px solid red;
	border-radius: 5px;
	cursor: pointer;
	width: 60px;
	height: 30px;
}

.like-button {
	width: 50px;
	height: 50px;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	border: 2px solid red;
	background-color: transparent;
	transform: rotate(45deg);
	transition: background-color 150ms cubic-bezier(.39,.09,.63,1.75);
}

.repost-button {
	width: 50px;
	height: 50px;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border: 2px solid red;
	background-color: transparent;
	cursor: pointer;
}

.show-comment-button {
	width: 50px;
	height: 50px;
	border: 2px solid red;
	background-color: transparent;
	transition: background-color 150ms cubic-bezier(.39,.09,.63,1.75);
}

.like-button:hover,.show-comments-button:hover,.show-comment-button:hover,.repost-button:hover {
	border: 4px solid pink;
}

#modal-quick-post,.post-edit-picture {
	display: none;
}

.modal,.higher-modal {
	position: fixed; /* Stay in place */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto;  /*Enable scroll if needed */
}
.modal {
	z-index: 5; /* Sit slightly on top */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.higher-modal {
	z-index: 5; /* Sit on top */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    color: black;
    margin: 4% auto;
    padding: 10px;
    border: 2px solid LightGrey;
    border-radius: 8px;
    width: 70%; /* Could be more or less, depending on screen size */
}

.modal-header,.modal-postarea,.modal-post {
	margin: 1% auto;
	width: 100%;

}
.modal-header {
	border-bottom: 2px solid LightGrey;
	padding-bottom: 5px;
}


.modal-post {
	border: 1px solid LightGrey;
	min-height: 160px;
	display: inline-flex;
}
