.header {
	overflow: hidden;
	width: 98.78%;
	height: 60px;
	background-color: #d30313;
	position: fixed;
	top: 0;
	z-index: 3;
}

.header-margin {
	margin-bottom: 80px;
}

.header-icon {
	width: 50px;
	float: left;
	margin: 5px;
}

.search-bar{
	margin: 10px;
}
.right-header {
	margin-right: 5%;
	height: 60px;
	display: inline-flex;
}

.show-quick-post-button.post-button, .profile-button {
	width: 80px;
	border: none;
	border-radius: 20px;
	margin: 15px;
	padding-left: 2px;
	padding-right: 2px;
	color: #d30313;
	background-color: white ;
	cursor: pointer;
	height: 50%;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 5%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,.post-menu-content li:hover {
	background-color: #ddd;
}

