.home-div {
	display: flex;
}

.home-profile-picture {
	margin-top: 16px;
	width: 200px;
	height: 200px;
}

.home-info-div {
	margin: 1%;
	background-color: LightGrey;
	width: 18%;
	height: 10%;
}

.home-post-div {
	margin: 1%;
	background-color: LightGrey;
	width: 62%;
	height: 0%;
}

/**
 * Pwede pa sigurong ilipat ito papunta sa ibang lugar
 */
.post-feed {
	background-color: LightGrey;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

.pagination-container {
	text-align: center;
	background-color: LightGrey;
}

.suggestions {
	background-color: LightGrey;
	margin: 1%;
	height: 0%;
	width: 14%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.suggestions #refreshSuggestions {

	border: solid 1px black;
	border-radius: 4px;
	background-color: #d30313;
	color: white;
	padding: 4px;
	cursor: pointer;
}


