blockquote {
	margin-left: 40px;
}

.post {
	margin-left: 1%;
	width: 98%;
	border: 1px solid LightGrey;
	min-height: 150px;
	display: inline-flex;
	background-color: Orange;
	margin-bottom: 10px;
}

.post-profile-picture {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 5px;
}

.attached-picture {
	max-width: 700px;
}

.post-attached-picture {
	max-width: 500px;
}

.deleted-post {
	background-color: Grey;
}

.count{
	margin-left: 10%;
	padding: 8px;
	text-align: center;
}

input[type=file] {
	display: inline;
	width: 40%;
	cursor: pointer;

}

div.submit {
	display: inline;
}

.post-menu-dropdown {
	z-index: 0;
	position: relative;
	display: inline-block;
}
.post-menu-button{
	z-index: -1;
}
.post-menu-content{
    display: none;
    position: absolute;
    right: 5%;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
    width: 60px;
}

.post-menu-content li {

    color: black;
    padding: 4px 6px;
    margin: 5px auto;
    text-decoration: none;
    display: block;
}

.post-button-div {
	margin-right: 2%;
	width: 25%;
	justify-content: flex-start;
	align-content: center;
}

.post-footer {

	width: 90%;
	display: inline-flex;
}

.post-text {
	margin: 1%;
	padding-left: 2%;
	flex-grow: 1;
	display: inline;
	text-align: left;
}

.reposted-post {
	cursor: pointer;
	border: 1px solid LightGrey;
	max-width: 600px;
}
.comment-container{
	margin: 1% auto;
	width: 90%;
	border: 1px solid LightGrey;
	min-height: 120px;
	display: inline-flex;
}
.comment-section {
	border-top: 2px solid LightGrey;
	margin: 4px auto;
}
