.post-textarea {
 	display: block;

	width: 600px;
	font-size: 14px;
	border-radius: 6px;
}
.post-textarea:focus {
	border: 2px solid #d30313;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.post-form {
	border-radius: 8px;
	padding: 8px;
	background-color: Orange;
	margin: 2%;
}
