.profile-info{
	display: flex;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1%;
	margin-bottom: 2%;
	background-color: LightGrey;
	align-items: center;
}

.profile-picture {
	border: 2px solid black;
	margin: 16px;
	width: 200px;
	height: 200px;
}

.profile-info-text {
	margin-left: 2%;
	width: 68%;
}
