.search-button {
	margin-left: 2%;
	margin-bottom: 10px;
	font-size: 1em;
	border: 2px solid LightGrey;
	border-radius: 5px;
	height: 30px;
	padding: 4px 6px;
}

.search-button:hover {
	cursor: pointer;
}
