.views-container {
	width: 96%;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.view-container {
	flex-basis: 15%;
	padding: 10px;
	border: 2px solid LightGrey;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
}

.view-picture {
	width: 160px;
	height: 160px;
}

