<?php
	if (array_key_exists('0', $allposts)) {
		foreach ($allposts as $key => $postinfo) {
			//echo print_r($postinfo);
			//echo "<br>";
			echo $this->element('postcontainer', array("postinfo" => $postinfo));
		}
	}
?>
<div class="pagination-container">

	<?php echo $this->element('mypaginator',array('action' => $currentAction,'params' => $currentParams)); ?>

</div>

<script type="text/javascript">
	loadPostNeeds();
</script>
